{{- with site.Home.Params.follow -}}
<footer class="footer" id="contact">
  <div class="container">
    <h2>{{ .title }}</h2>
    <p>{{ .text }}</p>
    <p class="footer__social">
      {{- range site.Params.social }}
      <a href="{{ .url }}" target="_blank" rel="noopener" aria-label="{{ .name }}" title="{{ .name }}">
        {{- with resources.Get (printf "icons/%s.svg" .icon) }}{{ .Content | safeHTML }}{{ else }}{{ .name }}{{ end -}}
      </a>
      {{- end }}
    </p>
  </div>
</footer>
{{- end -}}
