{{- with .Params.opendata -}}
<section class="section" id="opendata">
  <div class="container">
    <h2>{{ .title }}</h2>
    <p class="intro">{{ .text1 | safeHTML }}</p>
    <p class="intro">{{ .text2 | safeHTML }}</p>
    <div class="links">
      {{- range .links }}
      <a class="card card--link" href="{{ .url }}" target="_blank" rel="noopener">
        <img src="{{ .image | relURL }}" alt="" height="64">
        <h3>{{ .title }}</h3>
        <p>{{ .text }}</p>
      </a>
      {{- end }}
    </div>
  </div>
</section>
{{- end -}}
